
<form method="post" action='/swimmers/<%=@swimmer.slug%>'>

  <h3>Personal Details</h3>

  <input type="hidden" id="hidden" name="_method" value="patch">
  <label>Name: </label><input type="text" name="swimmer[name]" value="<%=@swimmer.name%>"><br>
  <label>Gender: </label><input list="gender" name="swimmer[gender]" value="<%=@swimmer.gender%>" type="text"><br>
  <datalist id="gender">
    <!-- try making options compulsory -->
    <option value="M">
    <option value="F">
  </datalist>
  <label>Age: </label><input type="integer" name="swimmer[age]" value="<%=@swimmer.age%>"><br>

  <br>

  <input type="submit" value="Update Personal Details">

</form>

  <br>



  <h3>Registered Events</h3>

  <ul>
  <%@swimmer.timings.each do |timing|%>
    <li>
      <form method="post" action='/swimmers/events/<%=@swimmer.slug%>'>
        <input type="hidden" id="hidden" name="_method" value="patch">
        <%=timing.event.name%> Personal Best: <input type="time" name="[timing][<%=timing.event.name%>][personal_best]" value=<%=timing.time_to_string%>>
        <input type="submit" value="Update Timing">
      </form>

      <form action='/swimmers/<%=@swimmer.slug%>/<%=timing.event.slug%>/delete' method="post">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>

    </li>
  <%end%>
  </ul>

  <br>
