<h1>Event Registration</h1>

<h2><%=@team.teamname%></h2>


<form method="post" action="/swimmers/register_event">
  </label>Please select swimmer: </label><input type="text" name="swimmer[name]" list="swimmer[name]"><br>
  <datalist id="swimmer[name]">
    <%@swimmers.each do |swimmer|%>
      <option value="<%=swimmer.name%>">
    <%end%>
  </datalist>

  <br>

  <label>Select up to two events:</label><br>
    <%@events.each do |event|%>
      <input type="checkbox" name="swimmer[event_ids][]" value="<%=event.id%>" id="<%=event.name%>"><%=event.name%></input><br>
    <%end%>

  <br>

  <input type="submit" name="Submit">

</form>
