
<% if !@error_message.nil? %>
  <p><%= @error_message %></p>
<% end %>

<h3>Swimmer Details</h3>

<p>Team Name: <%=@team.teamname%></p>
<p>Full Name: <%=@swimmer.name%></p>
<p>Age: <%=@swimmer.age%></p>
<p>Division: <%=@swimmer.division%></p>


<h3>Registered events for <%=@swimmer.name%></h3>

<ul>
<%@swimmer.timings.each do |timing|%>
  <li><a href='/events/<%=timing.event.slug%>'><%=timing.event.name%></a> Personal Best: <%=timing.time_to_string%></li>
<%end%>
</ul>

<br>

<a href='/swimmers/<%=@swimmer.slug%>/edit'>Edit Details</a><br> <!--this is for editing the swimmer details like name, age, whatever-->
<a href='/swimmers/register_event'>Register Swimmers for Events</a>
<!-- need to change this to reflect an edit function  -->
<!-- <a href='/swimmers/' include link for editing events signed up for-->
